<div class="modal-header">
  <div class="modal-title">{{ l("Create") }}</div>
</div>

<form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-label nzFor="tenancyName" nzRequired>{{ l('TenancyName') }}</nz-form-label>
    <nz-form-control [nzErrorTip]="errorTenancyName">
      <input nz-input formControlName="tenancyName" [placeholder]="l('TenancyName')" minlength="2" maxlength="64" />
      <ng-template #errorTenancyName let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ l('ThisFieldIsRequired') }}
        </ng-container>
        <ng-container *ngIf="control.hasError('regExp')">
          {{ l('ThisFieldDontMatchTheRexExp', '^[a-zA-Z][a-zA-Z0-9_-]{1,}$') }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="name">{{ l("Name") }}</nz-form-label>
    <nz-form-control [nzErrorTip]="l('ThisFieldIsRequired')">
      <input nz-input formControlName="name" [placeholder]="l('Name')" maxlength="128" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="databaseConnectionString">{{ l("DatabaseConnectionString") }}
    </nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="databaseConnectionString" [placeholder]="l('DatabaseConnectionString')"
        maxlength="1024" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="adminEmailAddress" nzRequired>{{ l('AdminEmailAddress') }}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="errorEmailAddress">
      <input nz-input type="text" formControlName="adminEmailAddress" [placeholder]="l('AdminEmailAddress')"
        maxlength="256" />
      <ng-template #errorEmailAddress let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{ l('ThisFieldIsRequired') }}
        </ng-container>
        <ng-container *ngIf="control.hasError('regExp')">
          {{ l('InvalidEmailAddress') }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>{{ l("IsActive") }}
    </nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="isActive"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control>
      <label>
        <span>{{ l("DefaultPasswordIs","123qwe") }}</span>
      </label>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="modal-footer">
  <button nz-button [nzType]="'default'" (click)="close()" [disabled]="saving">
    {{ l("Cancel") }}
  </button>
  <button nz-button [nzType]="'primary'" (click)="save()" [disabled]="!validateForm.valid || saving"
    [nzLoading]="saving">
    {{ l("Save") }}
  </button>
</div>