<form nz-form (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs">
    <nz-tab [nzTitle]="'app.login.tab-login-credentials' | translate">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input name="userNameOrEmailAddress" [(ngModel)]="
                    loginService.authenticateModel.userNameOrEmailAddress
                  " [placeholder]="l('UserNameOrEmail')" autocomplete="off" required maxlength="255" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" name="password" [(ngModel)]="loginService.authenticateModel.password"
              [placeholder]="l('Password')" required maxlength="32" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox name="rememberMe" [(ngModel)]="loginService.rememberMe">{{ l("RememberMe") }}</label>
    </nz-col>
    <!-- <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" (click)="msg.error('请找欧阳锋')">{{ 'app.login.forgot-password' | translate }}</a>
    </nz-col> -->
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="submitting" nzBlock>
      {{ l("LogIn") }}
    </button>
  </nz-form-item>
</form>
<!-- <div class="other">
  {{ 'app.login.sign-in-with' | translate }}
  <i nz-tooltip="in fact Auth0 via window" (click)="open('auth0', 'window')" nz-icon nzType="alipay-circle"
    class="icon"></i>
  <i nz-tooltip="in fact Github via redirect" (click)="open('github')" nz-icon nzType="taobao-circle" class="icon"></i>
  <i (click)="open('weibo', 'window')" nz-icon nzType="weibo-circle" class="icon"></i>
  <a class="register" routerLink="/passport/register">{{ 'app.login.signup' | translate }}</a>
</div> -->