<div class="modal-header">
  <div class="modal-title"> {{ l("Edit") }} </div>
</div>

<nz-tabset>
  <nz-tab [nzTitle]="l('Details')">
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">{{ l("RoleName") }}</nz-form-label>
        <nz-form-control [nzErrorTip]="l('ThisFieldIsRequired')">
          <input nz-input formControlName="name" [placeholder]="l('Name')" minlength="2" maxlength="32" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="displayName">{{ l("DisplayName") }}</nz-form-label>
        <nz-form-control [nzErrorTip]="l('ThisFieldIsRequired')">
          <input nz-input formControlName="displayName" [placeholder]="l('DisplayName')" minlength="2" maxlength="32" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="description">{{ l("RoleDescription") }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="description" [placeholder]="l('RoleDescription')" maxlength="1024" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
  <nz-tab [nzTitle]="l('Permissions')">
    <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="setPermissions($event)">
      <div nz-row>
        <ng-template ngFor let-checkOption [ngForOf]="checkOptions">
          <div nz-col nzSpan="8">
            <label nz-checkbox [nzValue]="checkOption.value"
              [ngModel]="checkOption.checked">{{ checkOption.label }}</label>
          </div>
        </ng-template>
      </div>
    </nz-checkbox-wrapper>
  </nz-tab>
</nz-tabset>

<div class="modal-footer">
  <button nz-button [nzType]="'default'" (click)="close()" [disabled]="saving">
    {{ l("Cancel") }}
  </button>
  <button nz-button [nzType]="'primary'" (click)="save()" [disabled]="!validateForm.valid || saving"
    [nzLoading]="saving">
    {{ l("Save") }}
  </button>
</div>