<page-header [homeI18n]="'menu.home' | translate"></page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="refresh()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">{{ l('Keyword') }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="query.keyword" name="keyword" [placeholder]="l('Keyword')" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="isTableLoading">{{ l('Query') }}</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ l('Reset') }}</button>
      </div>
    </div>
  </form>

  <button nz-button class="my-md" nzType="primary" (click)="create()"> {{ l('Create') }} </button>

  <st #st [columns]="columns" [data]="roles" [loading]="isTableLoading" [page]="pagination" [pi]="pageIndex"
    [ps]="pageSize" [total]="totalCount" (change)="stChange($event)">
  </st>
</nz-card>